<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
    <test verbose="2" preserve-order="true" name="/Users/aashok/IdeaProjects/java_selenium">
        <classes>
            <class name="TestNG.TestNG_1"/>
            <class name="TestNG.TestNG_2"/>
            <class name="TestNG.TestNG_4">
                <methods>
<!--                    <exclude name="MobileLoginHomeLoan"/>-->
                    <exclude name="Login.*"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Car Loan">
        <classes>
            <class name="TestNG.TestNG_3">
                <methods>
                    <include name="MobileLoginCarLoan"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>